.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-text {
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.frontBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

h2 {
  background-color: rgba(28, 100, 148, 0.678);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

button {
  margin-top: 200px;
  margin-bottom: 0;
  display: inherit;
}

.Contact-page {
  height: 100vh;
  background-color: white;
  padding-top: 15vh;
}

.Contact-text {
  font-size: 50px;
}


form {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 40%;
  height: 25px;
}

textarea {
  width: 40%;
  height: 200px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
